<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>

    <div  style="color: chocolate;text-align: center; justify-content: center;">

        <small> welcome <%=data.name %></small><br>
        <small> age <%=data.age %></small><br>
        <small> email <%=data.email %></small>
        

    </div>
</body>
</html>